<div class="product">
    <div class="img-continuer">
        <button  mat-icon-button color="primary" (click)="startUpdate()"> <mat-icon> edit</mat-icon> </button>
        <img [src]="product.Picture" alt="תמונת מוצר">
    </div>
    <div class="title">
        <h4>{{product.DeviceTypeHebrew}}</h4>
        <h3>{{product.WebSiteDeviceName}}</h3>
    </div>

    <div class="indicator" [ngClass]="product.ComponentOk == 1 ? 'green': 'red'"
        (click)="changeIndicator()">
    </div>

    <div class="data">
        <span>צימוד</span>
        <span>{{product.InstallDate | date: 'dd/MM/yyyy'}}</span>
    </div>

    <div class="data">
        <span>דיווח אחרון</span>
        <span>{{product.LastReportDate | date: 'dd/MM/yyyy'}}</span>
    </div>
</div>
